[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=flash-drive-tool
Exec=flash-drive-tool -m format
Categories=GNOME;GTK;Utility;
NotShowIn=KDE;
Name=Flash Drive Formatter
Comment=Format a USB Flash Drive